# rust
/target
**/*.rs.bk
Cargo.lock

# examples output
signed.tx

# environment
**/.env

# testing files
*.feature
test-harness
tests/features

# editor
*.code-workspace
.devcontainer/
.vscode
/.idea
*.iml

# os
**.DS_Store